body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAdCAYAAADVV140AAABtElEQVR42sWYWQ6EIBBEOY37ev/DOSkTEpKSPBmJfhBHpZtHNw3lhKZpjmVZjn3fb7V1XY+u6w7ZjeN4tG17tmma0n6nzwvf6hdtZK8+8ie/OHbq+zb4tm3noOrf970Gyj93cD3Xez1Tf9nlnheBU8c0spgJ9ZnnWb911T1FNs0E8DC4Zh9hdLVoAIDscMI8Xjl4ugT8PQMI2AG4pUsHwSF6kMLSxktS7Rm4Zq+IxSgMw3AngqUZkl/5T8d7DB7vVWgxGvr9BJZ8VgG36MT9V+/+jH6aRfkzP/XA3TgWYGYA3Hlkn479ArjvPA6Rn6ztGG+Cc9p5eX0EzoUmQCjoL8B5L5YtnAG1wD21Jce92/vSKTn2U3sAd0Fl9yWRBwFHQsvur8DzAseLSwqvJrj85Yr7kiuC67j1AmLpKiePwGXvkpcLX7zB1lJhSqMNgzt0fgly7QQZZWZKszcwA+f3kOV85sMDfVED/F/dA+BwtNcAZynA4CViqiI4f3cyOOuL+uCsewCcxf0r4Mzg4PCJ9gI4f9IZOKyvt8H5f52gNEBFfwDOO1sA/UFOXDkyuPpDsFjX/AAaVQm/PXemlQAAAABJRU5ErkJggg==); 
    background-repeat: repeat;
    color: white;
    height:100%;
    text-align: center;
    font-size: 20px;
}

clear:after {
    content: "";
    display: table;
    clear: both;
}

.wrappper {
    width:100%;
    margin:0 auto;
}

canvas{
  color: white;
  border:  white dashed 2px;
  padding: 15px;
}

h1 {
    font-weight: 100;
	text-transform: uppercase;
    margin:5px 0;
    font-size: 60px;
    color: crimson;
}


p   {
  font-size: 1.6em;
}

clear:after {
    content: "";
    display: table;
    clear: both;
}

#alphabet {
    margin:15px auto;
    padding:0;
    max-width:900px;
}

#alphabet li {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:10px;
    background:lightskyblue;
    color: orangered;
    cursor:pointer;
    border: solid 1px white;
}

clear:after {
    content: "";
    display: table;
    clear: both;
}    

#my-word {
    margin: 0;
    display: block;
    padding: 0;
}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
}

.active {
    opacity:0.4;
    filter:alpha(opacity=40);
    cursor:default;
    transition: all 0.3s ease-in-out;
}

.active:hover{
    transition: all 0.3s ease-in-out;
    opacity:0.4;
    filter:alpha(opacity=40); 
  }

#guesswrong {
    color: darkred;
}

#mylives { 
    font-size:1.6em;
    text-align:center;
    display:block;
    color: darkgoldenrod;
}

button{
  background: grey;
  color:white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

button:hover{
    transition: all 0.3s ease-in-out;
    background:white;
    border: solid 1px white;
    color: beige;
}

canvas {
    clear: both;
}

#catagoryName{
    text-align: center;
}

